* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background-color: #fff;
    color: #4c4d5f;
}

header {
    margin-bottom: 180px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px 0px 40px;
}

ul li {
    display: inline-block;
    margin-left: 40px;
    text-align: left;
}

ul .login-btn {
    -ms-flex-align: end;
}

.login-btn button {
    
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    padding: 10px 10px 10px 10px ;
    border-radius: 5px;
    margin-left: 4px;
}
.button2{
    color: #fff;
    border-style: none;
    background-color: #00b289;
}
.button1{
    background-color: white;
    border-color: #00b289;
    color: #00b289;
}


.pricing {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cards {
    display: flex;
}

.cards {
    text-align: center;
}

.first-Card,
.second-card {
    width: 40%;
    margin: auto;
}

.cards h1,
.cards h2 {
    text-align: left;
}

.price-items li {
    margin-left: 0px;
}

.price-items li {
    display: block;
}


footer {
    text-align: center;
}


section {
    margin-top: 5%;
    text-align: center;

}

.cards1 {
    font-family: serif;
    width: 50%;
    margin: auto;
    padding-top: 100px;
    margin-top: 3%;
    text-align: center;
}

.row1 {
    margin-top: 4%;
    display: block;

}

.col1 {
    flex-basis: 31%;
    background: rgb(246, 250, 249);
    border-radius: 2px;
    margin-bottom: 2%;
    padding: 20px 12px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: #4c4d5f;

}

h2 {
    font-weight: 400;
}

.col1 h2 {
    font-weight: 600;
    font-size: large;
    text-align: start;
    padding-left: 2%;
}

.col1 p {
    text-align: start;
    padding-left: 2%;
}


span {
    color: #00b289;
}

.b {
    margin: 50px auto;
    width: 50%;
    background-color: #ebfaff;
    background-size: cover;
    text-align: start;
    padding: 80px 0;
    font-size: larger;
    display: flex;


}

.b h2 {
    padding-left: 3%;
}

.b button {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #00b289;
    color: #fff;
    border-style: none;
    border-radius: 5px;
    margin-left: 250PX;

}

.c {
    margin: auto;
    width: 50%;
    background-color: #fff;
    background-size: cover;
    font-size: larger;
    margin-bottom: 50px;

}

.Collabse-paragraph {
    margin-top: 10px;
    display: block;
    transition: all 0.4s ease-out;
    opacity: 0;
    height: 0;
}

.Collabse-action {
    opacity: 1;
    height: 30px;

}

.collabse-main {
    cursor: pointer;
}


.c p {
    text-align: start;
    margin-top: 20px;
    color: #4c4d5f;
}

.c h2 {
    font-weight: 500;
    color: #00b289;

}